{% extends 'base.html' %}
{% load static %}

{% block title %}Projects{% endblock title %}

{% block content %}
<div class="project-Section">
    <div class="container">
  <div class="row">
    {% for project in projects %}
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4 text-center">
      <a href="{{ project.get_project_url }}" target="_blank">
        <img src="{{ project.image.url }}" class="img-fluid rounded shadow" alt="{{ project.name }}">
      </a>
      <h5 class="mt-2">{{ project.name }}</h5>
    </div>
    {% endfor %}
  </div>
</div>

</div>
{% endblock content %}